<form class="form" action="/list/new" method="post">
  <div class="form-group">

    <label for="category">List Category:</label>
    <select class="dropdown form-control" name="category">
      <option value="Personal">Personal</option>
      <option value="Work">Work</option>
      <option value="School">School</option>
      <option value="Private">Private</option>
      <option value="Shopping">Shopping</option>
    </select>

    <label for="name">List Name:</label>
    <input class="form-control" type="text" name="name" placeholder="Animals to Wash, etc..">

    <button class="btn btn-primary" name="submit" type="submit">Add List</button>

  </div>
</form>

<a class="btn btn-warning" href="/">Back</a>
